body {
max-width: 1200px;
display: flex;
flex-direction: column;
margin: auto;

}
header{
    display: flex;

    width: auto;
    height: auto;
  flex-direction: column;
    border: solid black 5px;
}

.encabezado{
    display: flex;
    border: solid black 5px;
}
.logo,.social{
    border: solid blue 7px;
    width: 20%;
    background-color: red;
}
.nav{
    border: solid blue 7px;
    width: 60%;
    background-color: red;
}

.banner{
    display: flex;
    border: solid black 5px;
    background-color: gold;
    height: 100px;

    
    
}
.Banner{
    display: flex;
    background-color: yellow;
    width: 98%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}


.asidemain{
    margin-top: 20px;
display: flex;
    width: auto;
    height: auto;
    border: solid black 5px;
}
.union{

    height: auto;

}
aside{
display: flex;
flex-direction: column;
    width: 80%;
    border: solid black 5px;
    
}
.cuadrado{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;

}
.article{

display: flex;
flex-grow: 1;
    background-color: blue;
    width: 35%;

    border: solid gray 5px;
}
.Article{
    font-size: 20px;
margin-top: auto;
  margin-left: 20px;
  width: auto;
  height: auto;

}
.navigation{
    display: flex;
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    border: solid gray 5px;
    background-color: beige;
}





main{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: solid black 5px;
    background-color: aqua;
}


.publicidad{
margin-left: auto;
margin-right: auto;
margin-top: 10%;
background-color: brown;
height: 20%;
    width: 89%;
}
.publicidad1{
    margin-left: auto;
margin-right: auto;
margin-top: 10px;
background-color: brown;
height: 20%;
    width: 89%;
}

footer{
background-color: orange;
    margin-top: 20px;
    border: solid black 10px;
}

@media(max-width :768px){
    header{
        flex-direction: column;

        height: auto;

    }

    .encabezado{
        display: flex;
        flex-direction: column;
        border: solid black 5px;
    }

    .Banner{
        display: flex;
        background-color: yellow;
        width: 98.2%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
.logo,.nav,.social{
    width: auto;
}

.asidemain{
    flex-direction: column;

    height: auto;
}
aside{

    width: auto;
    height: 80%;

}
main{
    width: auto;
    height: 40%;
    
}
.publicidad{
   
   margin-top: 10px;

    width: 98%;
}

.publicidad1{

   margin-bottom: 10px;

    width: 98%;
}

}
@media (max-width: 480px) {


aside{
    height: 60%;
}
.asidemain{

}
main{
    height: ;
}
    .article {
        flex-direction: column;
        height: 20%;
        width: 100%;
    }
.navigation{height: 25%;}
}